.card {
  width: 300px;
  height: 210px;
  background: #4b4747;
  border-radius: 8px;
  border-width: 4px;
  border-color: rgb(97, 154, 154);
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  object-fit: cover; /* or 'contain' if you prefer */
  display: block;
}
.title {
  font-size: 0.9rem;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  margin-top: 0px;
  font-size: 0.7rem;
  color: #d1d1d1;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow wrapping */
}
